.Cabeça{
    display: flex;
    background-color: rgb(179, 20, 20);
    color: #ffffff;
    justify-content: center;
}

a{
 margin: 20px;
 
}

.cabeçalho-image{
    display: flex;
    justify-content: center;
    
}

