.card{
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    background-color: #FFFF;
    margin: 0px;
}

.card-star{
    color: #fd931b;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: right;
}
.classificação{
    color:#494949;
}

.card-image{
   width: 100%;
   height: auto;
   margin-bottom: 10px;
   justify-content: center;
   text-align: center;
}

.card-description{
   align-items: center;
   font-size: 16px;
   font-weight: 100;
   margin-bottom: 10px;
   color: #000000
}

.card-desconto{
    justify-content: space-between;
    display: flex;
    font-size: 13px;
}

.preço{
    text-decoration: line-through;
    color: #666666;
}

.desconto{
    margin-left: 100px;
   
}

.card-price{
    display: flex;
    font-size: 30px;
    color: #e96106;
   font-weight: bold;
}

.price{
    font-size: 20px;
    margin-left: 10px;
    background-color: #e96106;
    color: #ffffff;
    border-radius: 15px;
   
}

.card-parcelamento{
    align-items: center;
    color: #666666;
    font-size: 15px;
}

.desconto-negrito{
    font-weight: bold;
}
.botão{
    background-color: #e96106;
    color: #ffffff;
    border: #e96106;
    font-size: 40px;
    text-align: center;
    border-radius: 20px;
    margin-left: 15px;
}

.espaço{
    height: 50px;
    visibility: hidden;
}